<div class="container loginForm">

 <h1>Login</h1><hr style="background:black"/><br />

  <form  novalidate name="loginForm" (ngSubmit)="LoginCheck(user)" [formGroup]="loginForm">

    <!---User Name -->
    <div class="form-group">
      <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-user"></i></span>
      <input type="text"
             class="form-control"
             placeholder="Username"
             aria-label="User Name"
             required
             formControlName="userName"
             [(ngModel)]="user.UserName">
    </div>
   </div>

    <!-- Password -->
   <div class="form-group">
     <div class="input-group">
      <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password"
             class="form-control"
             placeholder="Password"
             aria-label="User Name"
             required
             formControlName="password"
             [(ngModel)]="user.Password">
     </div>
    </div>

    <div>
       <button type="submit"
               class="btn btn-block btn-primary"
               id="btnSubmit"
               [disabled]="!loginForm.valid">
        Login
      </button>
    </div>

  </form>
</div>