.loginForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    margin: auto;
    background-color: #eee;
    text-align: center;
}

.container {
    padding: 15px;
}

hr {
    background: black
}

.alert {
    padding:0 !important;
}

a{
    cursor: pointer;
}